
body{
    background: linear-gradient(to top right, #81c0dd, #1064d3);
    width: 100%;
    height: 96vh;
}
.show-modal-window {
    border-radius: 24px;
    border: none;
    color: blue;
    background-color: skyblue;
    padding: 26px;
    margin-top: 7%;
}
.btn-all{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0,5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.modal-window{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 7%;
    padding: 2%;
    position: relative;
    z-index: 10;
    border-radius: 14px;
}
.close-modal-window {
    padding-left: 100%;
    font-size: 25px;
    color: #444;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden{
    display: none;
}
